<div class="acf-chat-container">
  <div class="acf-chat-header">
    <div class="acf-chat-header-friend-info">
      <div class="acf-chat-header-pic">
        <img class="friend-img" [src]="friendPicSrc">
      </div>
      <div class="acf-chat-header-firstname">
        {{friend.first_name}} {{friend.last_name}}
      </div>
    </div>
    <div class="acf-chat-header-friend-icons">
      <div class="mat-icon-box">
        <div class="material-icons">zoom_in</div>
      </div>
      <div class="mat-icon-box">
        <div class="material-icons">favorite</div>
      </div>
      <div class="mat-icon-box">
        <div class="material-icons">notifications</div>
      </div>
    </div>
  </div>
  <div class="acf-main-chat" #chatScroll>
    <div [ngClass]="{'message-bubble-from-you' : chatMessage.isYou, 'message-bubble-from-me':!chatMessage.isYou}" *ngFor="let chatMessage of messages; let i =index;" class="message-bubble" [ngStyle]="{'width.px':chatBubbleLength[i]}">
      {{chatMessage.message}}
    </div>
  </div>
  <div class="acf-chat-input">
    <form class="ac-friend-list-search" [formGroup]="searchForm">
      <input formControlName="searchInput" class="ac-friend-input-search" placeholder="Search friend.." type="text">
    </form>
    <button (click)="userSentMessage(chatScroll)">Send Message</button>
  </div>
</div>