/** colors **/
$poppy_blue: #0962ea;
$neon_blue: #001CFF;
$light_neon_blue: #4356FC;
$poppy_yellow: #faf15d;
$sky_blue: #0e7cf4;
$light_blue: #0aa0f6;
$med_grey: #464749;
$dark_grey: #363636;
$midnight_blue: #293a5c;
$shocking_pink: #FF0DCB;
$fashion_fuchsia: #E4009F;
$light_grey_back: #F8F8F8;
$bubble_grey: #BEBEBE;
$powder_blue: #B6D0E2;
$lavender_back: #E6E6FA;
$fancy_font: 'Comfortaa', cursive;
$cursive_font: 'Sacramento', cursive;
/** shadows **/
$shadow: 1px 4px 6px rgba(60, 64, 67, 0.16); //line height
$m_ln_ht: 0.9375rem; //15px
$title_line_height: 1.5rem; //25p;
//spacing between letter
$m_letter_spacing: 0.05em;
/** fonts **/
$baseFontSize: 16;
$m_fnt: Roboto;
$m_fnt_sz: 0.9375rem; //15px
$title_font: 1.3rem; //21px
$fnt_xsm: 0.75rem; //12px
$fnt_sm: 0.8125rem; //13px;
$subtitle_font: 1.0625rem; //17px;
/** padding **/
$main-padding-left: 0.5rem; //105 pixels;
$main-padding-right: 0.5rem; //120 pixels;