<div class="ac-selectedfriend-details-wrapper">
  <div class="ac-selectedfriend-pic ac-selectedfriend-mainbock">
    <img class="person-img" [src]="friendPicSrc">
  </div>
  <div class="full-name-title ac-selectedfriend-mainbock">
    <div class="full-name">{{friend.first_name}} {{friend.last_name}}</div>
    <div class="title">Senior Software Engineer</div>
  </div>
  <div class="icon-container ac-selectedfriend-mainbock">
    <div class="chat-icon-box mat-icon-box">
      <div class="material-icons">chat_bubble</div>
      <div class="chat-text">Chat</div>
    </div>
    <div class="videocam-icon-box mat-icon-box">
      <div class="material-icons">videocam</div>
      <div class="chat-text">Video</div>
    </div>
  </div>
  <div class="vf-line-actions ac-selectedfriend-mainbock">
    <div class="vf-line-actions-row">
      <div class="vf-line-actions-icon mat-icon-person">
        <div class="material-icons">person</div>
      </div>
      <div class="vf-line-actions-text">
        View friends
      </div>
    </div>
    <div class="vf-line-actions-row">
      <div class="vf-line-actions-icon mat-icon-favorite">
        <div class="material-icons">favorite</div>
      </div>
      <div class="vf-line-actions-text">
        Add to favorites
      </div>
    </div>
  </div>
  <div class="vf-attachment ac-selectedfriend-mainbock">
    <div class="vf-attachment-text vf-attachment-block ">
      Attachments
    </div>
    <div class="vf-attachment-type-btn-container vf-attachment-block">
      <div class="vf-attachment-type-btn">
        PDF

      </div>
      <div class="vf-attachment-type-btn">
        MP3
      </div>
      <div class="vf-attachment-type-btn">
        Video
      </div>
      <div class="vf-attachment-type-btn">
        Image
      </div>
    </div>
    <div class="vf-view-all-btn-container vf-attachment-block">
      <div class="vf-view-all-btn ">
        View All
      </div>
    </div>
  </div>

</div>