<div class="person-card-wrapper">
  <div class="person-picture-container">
    <img class="person-img" [src]="friendPicSrc">
  </div>
  <div class="person-details">
    <div class="person-card-title">
      Name:
    </div>
    <div class="person-first-name">
      {{friend.first_name}}
    </div>
    <div class="person-last-name">
      {{friend.last_name}}
    </div>
  </div>
  <!--<div class="person-activity">
    <div class="person-card-title">
      Category
    </div>
    <div class="person-category">
      {{friend.category}}
    </div>
    <div class="person-card-title">
      Color
    </div>
    <div class="person-favorite-color">
      {{friend.favorite_color}}
    </div>
  </div>-->
</div>